div,
html,
body {
  margin: 0px;
  padding: 0px;
}
body,
html {
  background-image: url(https://source.unsplash.com/okVXy9tG3KY);
  background-size: cover;
  overflow-x:hidden;
}
@font-face {
  font-family: Roboto;
  src: url(https://cdn.glitch.com/3a17eccb-24c9-45ab-9e94-83e94ddca5cf%2FRoboto-Light.ttf?v=1606054271890);
}
.main {
  padding: 1vw;
}
@media only screen and (max-width: 600px) {
  /*small screen*/
  .main {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 3.5vw;
  }
  .main .app {
    border-radius: 5px;
    width: 100%;
    height: 26vw;
  }
  .main .app .logo {
    background-image: linear-gradient(to bottom left, blue, red);
    border-radius: 5px;
    height: 22vw;
    width: 22vw;
    text-align: center;
    vertical-align: center;
  }
  .main .app .logo * {
    max-width: 80%;
  }
  .main .app .sub {
    text-align: center;
    vertical-align: center;
    border-radius: 5px;
    background-color: #00000002;
    height: 4vw;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
  /*middle screen*/
  .main {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: 1rem;
  }
  .main .app {
    border-radius: 15px;
    width: 100%;
    height: 22vw;
  }
  .main .app .logo {
    background-image: linear-gradient(to bottom left, blue, red);
    border-radius: 15px;
    height: 19vw;
    width: 19vw;
    text-align: center;
    vertical-align: center;
  }
  .main .app .logo * {
    max-width: 80%;
  }
  .main .app .sub {
    text-align: center;
    vertical-align: center;
    border-radius: 5px;
    background-color: #00000002;
    height: 4vw;
  }
}
@media only screen and (min-width: 1000px) {
  /*large screen*/
  .main {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: 1rem;
  }
  .main .app {
    border-radius: 15px;
    width: 100%;
    height: 15vw;
  }
  .main .app .logo {
    background-image: linear-gradient(to bottom left, blue, red);
    border-radius: 15px;
    height: 13vw;
    width: 13vw;
    text-align: center;
    vertical-align: center;
  }
  .main .app .logo * {
    max-width: 80%;
  }
  .main .app .sub {
    text-align: center;
    vertical-align: center;
    border-radius: 15px;
    background-color: #00000002;
  }
}
.main .app .sub {
  font-family: Roboto;
  font-size:1.2rem
}
.main .app{
  cursor:pointer;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  transition-duration: 0.5s;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 96vw;
  background-color: black;
  margin: 0px;
  padding: 0.35vw;
  opacity: 0.2;
  color: white;
  padding-left: 2vw;
  padding-right: 2vw;
}
/*
nav {
  position: absolute;
  left: 0px;
  width: 100vw;
  background-color: #000000ef;
  color: white;

  display: inline-grid;
  grid-template-columns: repeat(3, auto);
}
nav div {
}
nav div:nth-child(1) {
  padding-left: 3vw;
  text-align: left;
}
nav div:nth-child(2) {
  text-align: center;
}
nav div:nth-child(3) {
  text-align: right;
  padding-right: 3vw;
}
*/